# Darkness Kernel for HMP ROMs
#
# Device            : Xiaomi Mi 5 (gemini)
# Kernel Maintainer : MOVZX (MOVZX@Telegram.org)
# ROM Maintainer    : MOVZX (MOVZX@Telegram.org)
#

# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
    # Set default profile on first boot
    exec u:r:init:s0 root root -- /init.spectrum.sh
    exec u:r:su:s0 root root -- /init.spectrum.sh
    # Enable Spectrum support
    setprop spectrum.support 1

    setprop persist.spectrum.kernel Darkness-AOS-HMP

#
# Darkness Modes
#

# Balanced (default profile)
on property:persist.spectrum.profile=0
    # Set CPU Parameters
        # Little
            write /sys/devices/system/cpu/cpu0/online 1
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "80 307200:20 422400:25 480000:30 556800:35 652800:40 729600:45 844800:50 960000:55 1036800:60 1113600:65 1190400:70 1228800:75 1324800:80 1401600:85 1478400:90 1593600:95"
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 80
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 20000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fastlane 0
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/powersave_bias 1
            # Darkness
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/target_loads "80 307200:20 422400:25 480000:30 556800:35 652800:40 729600:45 844800:50 960000:55 1036800:60 1113600:65 1190400:70 1228800:75 1324800:80 1401600:85 1478400:90 1593600:95"
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/go_hispeed_load 80
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/min_sample_time 20000
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/fastlane 0
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/powersave_bias 1
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
        # Big
            write /sys/devices/system/cpu/cpu2/online 1
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "85 307200:20 480000:25 652800:30 883200:35 940800:40 1190400:45 1248000:50 1324800:55 1478400:60 1555200:65 1632000:70 1785600:75 1824000:80 1996800:85 2073600:90 2150400:95"
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/go_hispeed_load 85
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/min_sample_time 20000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/fastlane 0
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/powersave_bias 1
            # Darkness
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkness
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/target_loads "85 307200:20 480000:25 652800:30 883200:35 940800:40 1190400:45 1248000:50 1324800:55 1478400:60 1555200:65 1632000:70 1785600:75 1824000:80 1996800:85 2073600:90 2150400:95"
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/go_hispeed_load 85
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/min_sample_time 20000
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/fastlane 0
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/powersave_bias 1
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkness
    #
    # CPU Scheduler
        chmod 755 /proc/sys/kernel/sched_boost
        write /proc/sys/kernel/sched_boost 0
    #
    # CPU Input Boost
        chmod 755 /sys/module/msm_performance/parameters/touchboost
        write /sys/module/msm_performance/parameters/touchboost 0
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 5
        write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    #
    # Set Arch Specific Power Settings
        write /sys/kernel/sched/arch_power 1
    #
    # Set Gentle Fair Sleepers Settings
        write /sys/kernel/sched/gentle_fair_sleepers 0
    #
    # Entropy Tweaks
        write /proc/sys/kernel/random/read_wakeup_threshold 256
        write /proc/sys/kernel/random/write_wakeup_threshold 512
    #
    # Misc Tweaks
        write /sys/module/workqueue/parameters/power_efficient Y

# Performance
on property:persist.spectrum.profile=1
    # Set CPU Parameters
        # Little
            write /sys/devices/system/cpu/cpu0/online 1
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "10 307200:20 422400:25 480000:30 556800:35 652800:40 729600:45 844800:50 960000:55 1036800:60 1113600:65 1190400:70 1228800:75 1324800:80 1401600:85 1478400:90 1593600:95"
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 75
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 30000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fastlane 0
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/powersave_bias 1
            # Darkness
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/target_loads "10 307200:20 422400:25 480000:30 556800:35 652800:40 729600:45 844800:50 960000:55 1036800:60 1113600:65 1190400:70 1228800:75 1324800:80 1401600:85 1478400:90 1593600:95"
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/go_hispeed_load 75
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/min_sample_time 30000
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/fastlane 1
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/powersave_bias 0
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
        # Big
            write /sys/devices/system/cpu/cpu2/online 1
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "10 307200:20 480000:25 652800:30 883200:35 940800:40 1190400:45 1248000:50 1324800:55 1478400:60 1555200:65 1632000:70 1785600:75 1824000:80 1996800:85 2073600:90 2150400:95"
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/go_hispeed_load 80
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/min_sample_time 30000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/fastlane 0
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/powersave_bias 1
            # Darkness
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkness
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/target_loads "10 307200:20 480000:25 652800:30 883200:35 940800:40 1190400:45 1248000:50 1324800:55 1478400:60 1555200:65 1632000:70 1785600:75 1824000:80 1996800:85 2073600:90 2150400:95"
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/go_hispeed_load 80
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/min_sample_time 30000
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/fastlane 1
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/powersave_bias 0
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkness
    #
    # CPU Scheduler
        chmod 755 /proc/sys/kernel/sched_boost
        write /proc/sys/kernel/sched_boost 0
    #
    # CPU Input Boost
        chmod 755 /sys/module/msm_performance/parameters/touchboost
        write /sys/module/msm_performance/parameters/touchboost 1
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 5
        write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 214000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    #
    # Set Arch Specific Power Settings
        write /sys/kernel/sched/arch_power 0
    #
    # Set Gentle Fair Sleepers Settings
        write /sys/kernel/sched/gentle_fair_sleepers 1
    #
    # Entropy Tweaks
        write /proc/sys/kernel/random/read_wakeup_threshold 384
        write /proc/sys/kernel/random/write_wakeup_threshold 768
    #
    # Misc Tweaks
        write /sys/module/workqueue/parameters/power_efficient N

# Battery
on property:persist.spectrum.profile=2
    # Set CPU Parameters
        # Little
            write /sys/devices/system/cpu/cpu0/online 1
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
        # Big
            write /sys/devices/system/cpu/cpu2/online 1
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor conservative
    #
    # CPU Scheduler
        chmod 755 /proc/sys/kernel/sched_boost
        write /proc/sys/kernel/sched_boost 0
    #
    # CPU Input Boost
        chmod 755 /sys/module/msm_performance/parameters/touchboost
        write /sys/module/msm_performance/parameters/touchboost 0
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
        write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 510000000
    #
    # Set Arch Specific Power Settings
        write /sys/kernel/sched/arch_power 1
    #
    # Set Gentle Fair Sleepers Settings
        write /sys/kernel/sched/gentle_fair_sleepers 0
    #
    # Entropy Tweaks
        write /proc/sys/kernel/random/read_wakeup_threshold 128
        write /proc/sys/kernel/random/write_wakeup_threshold 256
    #
    # Misc Tweaks
        write /sys/module/workqueue/parameters/power_efficient Y

# Gaming
on property:persist.spectrum.profile=3
    # Set CPU Parameters
        # Little
            write /sys/devices/system/cpu/cpu0/online 1
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "1 307200:20 422400:25 480000:30 556800:35 652800:40 729600:45 844800:50 960000:55 1036800:60 1113600:65 1190400:70 1228800:75 1324800:80 1401600:85 1478400:90 1593600:95"
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 70
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 50000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fastlane 1
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/powersave_bias 0
            # Darkness
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/target_loads "1 307200:20 422400:25 480000:30 556800:35 652800:40 729600:45 844800:50 960000:55 1036800:60 1113600:65 1190400:70 1228800:75 1324800:80 1401600:85 1478400:90 1593600:95"
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/go_hispeed_load 70
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/min_sample_time 50000
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/fastlane 1
                write /sys/devices/system/cpu/cpu0/cpufreq/darkness/powersave_bias 0
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
        # Big
            write /sys/devices/system/cpu/cpu2/online 1
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "1 307200:20 480000:25 652800:30 883200:35 940800:40 1190400:45 1248000:50 1324800:55 1478400:60 1555200:65 1632000:70 1785600:75 1824000:80 1996800:85 2073600:90 2150400:95"
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/go_hispeed_load 75
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/min_sample_time 50000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/fastlane 1
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/powersave_bias 0
            # Darkness
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkness
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/target_loads "1 307200:20 480000:25 652800:30 883200:35 940800:40 1190400:45 1248000:50 1324800:55 1478400:60 1555200:65 1632000:70 1785600:75 1824000:80 1996800:85 2073600:90 2150400:95"
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/go_hispeed_load 75
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/min_sample_time 50000
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/fastlane 1
                write /sys/devices/system/cpu/cpu2/cpufreq/darkness/powersave_bias 0
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkness
    #
    # CPU Scheduler
        chmod 755 /proc/sys/kernel/sched_boost
        write /proc/sys/kernel/sched_boost 1
    #
    # CPU Input Boost
        chmod 755 /sys/module/msm_performance/parameters/touchboost
        write /sys/module/msm_performance/parameters/touchboost 1
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 5
        write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 315000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    #
    # Set Arch Specific Power Settings
        write /sys/kernel/sched/arch_power 0
    #
    # Set Gentle Fair Sleepers Settings
        write /sys/kernel/sched/gentle_fair_sleepers 1
    #
    # Entropy Tweaks
        # write /proc/sys/kernel/random/read_wakeup_threshold 512
        # write /proc/sys/kernel/random/write_wakeup_threshold 1024
    #
    # Misc Tweaks
        write /sys/module/workqueue/parameters/power_efficient N
